<!DOCTYPE html>
<html>

<head>
  <title>groOvy</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href='https://fonts.googleapis.com/css?family=Righteous&display=swap' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="">
  <script defer src='/javascripts/main.js'></script>
</head>

<body>
  <div class='navbar-fixed'>
    <nav>
      <div id='nav-wrapper'>
        <h1 class='home-button'>
          <a href='/posts' class='brand-logo'>groOvy</a>
        </h1>
        <ul>
        <% if (user) { %>
              <li>
                <div id='username'><a href='/posts/grooves'><%= user.name %></a></div>
              </li>
              <li>
                <div class='logout'><a href='/logout'>log out</a></div>
              </li>
            <% } else { %>
              <li>
                <div class='login'><a class='login' href='/auth/google'>login with google</a></div>
              </li>
            <% } %>
          
        </ul>
      </div>
    </nav>
  </div>
