<!DOCTYPE html>
<html>

<head>
  <title>groOvy</title>
  <!-- Google Icon Fonts used by Materialize -->
  <!-- <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'> -->
  <!-- Materialize CSS Framework -->
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'> -->
  <link rel='stylesheet' href='stylesheets/style.css' />
  <link href='https://fonts.googleapis.com/css?family=Righteous&display=swap' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>
  <!-- JavaScript for Materialize -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script> -->
</head>

<body>
  <div class='navbar-fixed'>
    <nav>
      <div class='nav-wrapper'>
        <h1 class='home-button'>
          <a href='' class='brand-logo left'>groOvy</a>
        </h1>
        <ul>
          <li>

                <div class='login'><a class='login' href='/auth/google'>login with google</a></div>
     
          </li>
        </ul>
      </div>
    </nav>
  </div>
</body>
</html>