<!DOCTYPE html>
<html>

<head>
  <title>groOvy</title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href='https://fonts.googleapis.com/css?family=Righteous&display=swap' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="">
  <script defer src='javascripts/main.js'></script>
</head>

<body>
  <div id='nav-wrapper'>
      <h1 class='home-button'>
        <a href='/posts' class='brand-logo'>groOvy</a>
      </h1>
  </div>
  <div class="login-container">
    <div id='login-groove-form'>
      <p class='login-page'>let's see what your friend's are groovin` to</p>
      <ul>
        <% if (user) { %>
          <li>
            <div id='username'><a class='user-profile' href='/posts/grooves/<%= user._id %>'><%= user.name %></a></div>
          </li>
          <li>
            <div class='logout'><a href='/logout'>log out</a></div><br><br>
          </li>
        <% } else { %>
          <li>
            <div class='user-login'><a class='user-login' href='/auth/google'>login with google</a></div>
          </li>
        <% } %>     
      </ul>
    </div>
  </div>
</body>

</html>



  