body {
  margin: 0;
  background: url('https://i.imgur.com/SFcsY3V.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: rgb(199, 196, 187);
  height: 100%
}
#nav-wrapper {
  background: linear-gradient(90deg, rgba(4,3,31,.75) 50%, rgba(121,9,121,.5) 100%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.login-page {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

.user-profile {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
}

strong {
  color: black;
  font-style: bold;
}
.home-button > a {
  color: #790979;
  font-size: 32px;
  font-family: 'Righteous';
}

.login {
  padding-right: 25px;
  margin: 0 15px;
}

.logout {
  padding-right: 25px;
  margin: 0 30px;
}

.login > a,
.logout > a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.brand-logo {
  margin: 30px;
  padding: 30px;
}

p {
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 80px;
}
.home-button {
  padding-left: 10px
}

#groove-form {
  padding-left: 20px;
}

.container {
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
  background: rgba(8, 121, 121, 0.75);
  border-radius: 3px;
  position: relative;
  padding: 20px;
}

.container {
  height: 150px;
}

.groove-post {
  padding: 20px;
  height: 20%;
  border-radius: 3px;
  position: relative;
}

.groove-post {
  margin: 30px 100px;
  background: rgba(255, 255, 255, .75);
  color: rgba(5, 48, 48, .75);
  position: relative;
}

input {
  border-radius: 5px;
  height: 1.5rem;
  border-style: solid;
  width: 170px;
  color: gray;
  border-width: 1px;
}

.post-username {
  margin: 0;
  padding-left: 18px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

select {
  height: 1.5rem;
  width: 170px;
}


.container input[type='submit'],
.listen {
  background:  rgba(121,9,121,1);
  border-color: rgba(121,9,121,1);
  color: rgb(199, 196, 187);
  width: 75px;
  height: 25px;
  border-radius: 5px;
  border-style: solid;
}

.user-login {
  background:  rgba(121,9,121,1);
  border-color: rgba(121,9,121,1);
  color: rgb(199, 196, 187);
  width: 75px;
  height: 50px;
  border-radius: 5px;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1px;
}

.listen-btn {
  text-decoration: none;
  color: white;
}

#comments-btn {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background: #7FB3D5;
  border-color: #7FB3D5;
  padding: 0;
}

.send-btn {
  height: 15px;
  width: 15px;

}


.container input[type='submit'] {
  position: absolute;
  bottom: 20px;
  right: 50px
}

.user-post {
  position: absolute;
  top: 15px;
}
.timestamp {
  font-size: 12px;
  color: #555;
  padding-left: 18px;
}

#delete-btn {
  background: #C2123A;
  border-color: #C2123A;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: .75em;
  font-weight: bold;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
}

#comment-delete-btn {
  color: #000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: .85em;
  font-weight: bold;
  text-align: center;
  width: 15px;
  height: 15px;
  border: none;
  /* text-align: center; */
  position: absolute;
  top: 2px;
  right: 5px;
}

#comment-input-form {
  display: flex;
  align-content: center;
  align-items: center;
}

.edit-icon {
  height: 11px;
}

#edit-btn {
  border-radius: 5px;
  margin-right: 5px;
}
.edit-n-delete {
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}


.collapsible {
  background-color: rgba(255,255,255,.01);
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 200px;
  border: none;
  outline: none;
  font-size: 15px;
  padding-left: 19px;
  text-align: left;
}

.active, .collapsible:hover {
  color: rgba(121,9,121,1)
}

.poster-time {
  font-size: 11px;
}

#likes {
  height: 23px;
  width: 23px;
  border: none;
  padding-right: 5px;
}

.comment-container {
  margin: 5px;
  padding: 5px;
  background: white;
  border-radius: 5px;
  width: 500px;
  font-size: 10px;
  margin: 5px auto;
  position: relative;
}

.profile-container {
  position: fixed;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#login-groove-form {
  width: 300px;
  height: 300px;
  margin-top: 110px;
  margin-left: 30%;
  background: rgba(8, 121, 121, 0.75);
  border-radius: 3px;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

#profile-groove-form {
  width: 300px;
  height: 300px;
  margin-top: 110px;
  background: rgba(8, 121, 121, 0.75);
  border-radius: 3px;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.profile-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-top: 30px;
  width: 90%;
}

.profile-items-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.profile-items-wrapper > label {
  min-width: 60px;
}

.profile-items-wrapper > input, .profile-items-wrapper > select {
  width: 100%;
}

.profile-groove-post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 110px;
}

.profile-groove-post {
  width: 400px;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 30px 100px;
  margin-top: 0;
  background: rgba(255, 255, 255, .75);
  color: rgba(5, 48, 48, .75);
  border-radius: 3px;
}


.profile-edit-n-delete {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 10px;
}

.profile-timestamp {
  font-size: 12px;
  color: #555;
  margin-right: 10px;
  margin: 0;
  padding-left: 30px;
}

#profile-post-schema {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#profile-post-schema:last-child {
  justify-content: flex-end;
}

button.listen {
  justify-content: flex-end;
  align-self: flex-end;
}

.profile-user-post {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.profile-comment-bar {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-left: 20px;
  padding-right: 5px;
}

.profile-comment-form {
  display: flex;
  flex-direction: row;
}
.profile-comments {
  margin-right: 5px;
  border-width: 1px;
  width: 300px;
}

.profile-content-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5px;
}

.profile-poster-time {
  font-size: 10px;

}
.profile-comment-container {
  margin: 5px;
  padding: 5px;
  background: white;
  border-radius: 5px;
  width: 350px;
  font-size: 10px;
  margin: 5px auto;
  position: relative;
}
.content {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: rgba(255,255,255,.01);
}
.content-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5px;
}

.comment-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.comments {
  border-radius: 5px;
  border-width: 1px;
  color: gray;
  padding-left: 20px;
  margin: 10px;
  width: 600px;
}

.user-comments {
  background: white;
}

#profile-likes {
  height: 20px;
  width: 20px;
  border: none;
  padding-right: 5px;
}

#post-schema {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;

}

